In [ ]:
pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=5d0c167c2f0fd3f79577d61759ed0887245eded1aabb73bbc164d60b0fa84a27
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [ ]:
data = pd.read_csv('/content/Book1.csv', header=None)

In [ ]:
data.head(9)

     0    1    2    3    4
0   M1   M2  NaN  NaN   M5
1  NaN   M2  NaN   M4  NaN
2  NaN   M2   M3  NaN  NaN
3   M1   M2  NaN   M4  NaN
4   M1  NaN   M3  NaN  NaN
5  NaN   M2   M3  NaN  NaN
6   M1  NaN  NaN  NaN  NaN
7   M1   M2   M3  NaN   M5
8   M1   M2  NaN  NaN  NaN

In [ ]:
records = []
for i in range(0, 9):
    records.append([str(data.values[i,j]) for j in range(0, 5)])

In [ ]:
association_rules = apriori(records, min_support=4/9, min_confidence=5/9)
results = list(association_rules)

In [ ]:
for item in results:
   if('nan' not in item[0]):
    pair = item[0]
    items = [x for x in pair]
    print("Rule: ")
    print(items)

    print("Support: " + str(item[1]))

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule:
['M1']
Support: 0.6666666666666666
Confidence: 0.6666666666666666
Lift: 1.0
=====================================
Rule:
['M2']
Support: 0.7777777777777778
Confidence: 0.7777777777777778
Lift: 1.0
=====================================
Rule:
['M2', 'M1']
Support: 0.4444444444444444
Confidence: 0.6666666666666666
Lift: 0.8571428571428571
=====================================